{% extends 'base.html.twig' %}

{% block body %}
<div class="Banniere-Actue">
    <div class="banner-content">
        <h2 class="Actu"> Administration </h2>
        <p>Gérer votre site</p>
    </div>

    <div class="corp">
        <div class="container">
            <div class="row aprop">
                <h1> A propos </h1>
                <div class="col">
                    <p class="Para-apropo1">Car-boutique.fr est un site de vente de véhicules entre particuliers créé et
                        géré par une personne. Sur ce site, les utilisateurs peuvent trouver une grande variété de
                        véhicules d'occasion, allant de voitures particulière a l'utilitaire profésionnelle.</p>

                    <p class="Para-apropo1">Le site est facile à naviguer et permet aux utilisateurs de filtrer les
                        annonces en fonction de leurs critères de recherche, tels que le type de véhicule, le modèle,
                        l'année. Les annonces sont accompagnées de photos et de descriptions
                        détaillées, ainsi que de informations sur l'état du véhicule et sur le vendeur.</p>

                    <p class="Para-apropo1">Car-boutique.fr propose également une section "Conseils" où les utilisateurs
                        peuvent trouver des informations pratiques sur l'achat et la vente de véhicules d'occasion,
                        ainsi que sur l'entretien et la sécurité routière.</p>
                    <p class="Para-apropo1">Le site offre également un service de mise en relation entre vendeurs et
                        acheteurs, qui permet aux utilisateurs de contacter directement le vendeur de l'annonce et de
                        prendre rendez-vous pour une visite ou un essai du véhicule.</p>

                    <p class="Para-apropo1">En somme, car-boutique.fr est un site de vente de véhicules entre
                        particuliers pratique et facile à utiliser, qui offre une grande variété de véhicules d'occasion
                        et des conseils utiles pour l'achat et la vente de véhicules.</p>

                    <p class="Para-apropo"> Notre site de vente de véhicules d'occasion entre particuliers vous offre la
                        possibilité de
                        vendre ou d'acheter une voiture d'occasion en toute simplicité et en toute sécurité. Nous
                        croyons fermement que l'achat et la vente de véhicules entre particuliers peut être une
                        expérience agréable et avantageuse pour toutes les parties impliquées. </p>

                    <p class="Para-apropo">L'achat d'un véhicule d'occasion auprès d'un particulier présente de nombreux
                        avantages par
                        rapport à l'achat auprès d'un concessionnaire. Tout d'abord, vous avez la possibilité de
                        négocier directement avec le vendeur pour obtenir un prix qui convient à vos moyens. De plus,
                        vous pouvez obtenir des informations plus détaillées sur l'historique du véhicule et sur l'état
                        général du véhicule, ce qui vous permet de faire un choix éclairé.</p>


                    <p class="Para-apropo">Pour les vendeurs, la vente d'un véhicule entre particuliers peut être plus
                        rentable que de le
                        vendre à un concessionnaire, qui prendra une commission sur la vente. De plus, la vente entre
                        particuliers permet de mettre en avant les qualités et les particularités de votre véhicule, ce
                        qui peut attirer des acheteurs intéressés par des modèles spécifiques ou par des voitures avec
                        des caractéristiques particulières.</p>

                    <p class="Para-apropo">Sur notre site, nous mettons tout en œuvre pour assurer la sécurité et la
                        transparence de la
                        transaction. Nous proposons un système de paiement en ligne sécurisé pour les transactions
                        financières et nous mettons à disposition des vendeurs et des acheteurs des outils de
                        communication pour faciliter le processus de vente.</p>

                    <p class="Para-apropo">En résumé, notre site de vente de véhicules d'occasion entre particuliers
                        vous offre la
                        possibilité de trouver le véhicule de vos rêves ou de vendre votre véhicule en toute simplicité,
                        en bénéficiant de tous les avantages de la vente entre particuliers. N'hésitez pas à parcourir
                        notre sélection de véhicules d'occasion et à entrer en contact avec nos vendeurs pour en savoir
                        plus sur leurs voitures. Nous sommes impatients de vous aider à trouver le véhicule qui vous
                        convient le mieux !</p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}