{% extends 'base.html.twig' %}

{% block body %}
<div class="corp">
    <div class="Banniere-Actue">
        <div class="banner-content">
            <h2 class="Actu"> FAQ </h2>
            <p>Les question les plus poser</p>
        </div>
    </div>
    <div class="container">
        <div class="row border hidden" style="margin-top: 100px;">
            <div class="col">
                <h2>1. Comment fonctionne le site ?</h2><br>
                <p class="FAQ">Le site permet aux particuliers de mettre en vente leur voiture en ligne, en créant une annonce avec
                    des informations sur le véhicule (marque, modèle, année, kilométrage, etc.). Les acheteurs
                    potentiels peuvent parcourir les annonces et contacter le vendeur s'ils sont intéressés par l'achat
                    de la voiture.</p>
            </div>
        </div>
        <div class="row border hidden" style="margin-top: 50px;  padding:30px;">
            <div class="col">
                <h2>2. Comment puis-je vendre ma voiture sur le site ?</h2><br>
                <p class="FAQ">Pour vendre votre voiture sur le site, vous devez créer une annonce en remplissant un formulaire en
                    ligne avec les informations sur votre véhicule. Vous pouvez également ajouter des photos et un
                    descriptif détaillé de la voiture. Une fois que votre annonce est en ligne, elle sera visible par
                    les acheteurs potentiels.</p>
            </div>
        </div>
        <div class="row border hidden" style="margin-top: 50px; padding:30px;">
            <div class="col">
                <h2>3. Comment puis-je contacter un vendeur ?</h2><br>
                <p class="FAQ">Pour contacter un vendeur, il suffit de cliquer sur l'annonce de la voiture qui vous intéresse et de
                    suivre les instructions pour envoyer un message au vendeur.</p>
            </div>
        </div>
        <div class="row border hidden" style="margin-top: 50px; padding:30px;">
            <div class="col">
                <h2>4. Comment puis-je acheter une voiture sur le site ?</h2><br>
                <p class="FAQ">Pour acheter une voiture sur le site, il suffit de parcourir les annonces et de contacter le vendeur
                    si vous êtes intéressé par l'achat de la voiture. Vous pouvez négocier le prix avec le vendeur et
                    organiser la transaction. Il est recommandé de se rencontrer en personne pour voir et essayer la
                    voiture avant de conclure la vente.</p>
            </div>
        </div>
        <div class="row border hidden" style="margin-top: 50px; padding:30px;">
            <div class="col">
                <h2>5. Que dois-je faire si je rencontre un problème avec la voiture que j'ai achetée sur le site ?</h2>
                <br>
                <p class="FAQ">Le site de vente de voiture entre particuliers n'est pas responsable des problèmes qui peuvent
                    survenir avec la voiture après l'achat. Si vous rencontrez un problème avec la voiture, vous devrez
                    en discuter directement avec le vendeur. Il est recommandé de vérifier l'état de la voiture avant de
                    conclure la vente et de demander une inspection par un mécanicien professionnel si nécessaire.</p>
            </div>
        </div>
        <div class="row border hidden" style="margin-top: 50px; padding:30px;">
            <div class="col">
                <h2>6. Comment puis-je signaler une annonce qui ne respecte pas les règles du site ?</h2><br>
                <p class="FAQ"> Si vous constatez qu'une annonce ne respecte pas les règles du site (par exemple, si elle contient
                    du contenu inapproprié ou si elle est frauduleuse), vous pouvez utiliser le formulaire de
                    signalement en ligne pour signaler l'annonce aux modérateurs du site.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}